#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.pixel-font {
	font-family: "Minecraft";
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 1.15rem;
	user-select: none;
}

.pokemon-list .flexbox {
	display: flex;
	align-items: center;
	gap: 10px;
}
.pokemon-list .flexbox img {
	width: 50px;
}

.summary-stats {
	margin: 2rem 0;
	background-color: #f0f8ff;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.summary-stats ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.input-box {
	width: 75px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.length-range-filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.border {
	border: 2px solid red;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.slider {
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	outline: none;
	margin-top: 30px;
	/* opacity: 0.7; */
	/* transition: opacity 0.2s; */
}

.filter-container {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 100px;
	/* margin-bottom: 20px; */
}
.filter-container button:active {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	transform: translateY(3px);
	/* box-shadow: 0 0 0 rgba(0, 0, 0, 0.1); */
}

.cool-btn {
	width: 150px;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.05s ease-in-out;
	cursor: pointer;
}

#pokeball {
	width: 50px;
	height: 50px;
}

.header-container {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 80px;
	background: #f2f2f2;
	/* z-index: 999; */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1rem;
	height: 100%;
}

.title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 2rem;
}

.search-container {
	display: flex;
	align-items: center;
}

.search-bar {
	padding: 8px 12px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.sidebar-container {
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	backdrop-filter: blur(1px);
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	width: 25%;
	background: rgb(180, 54, 54);
	color: #fff;
}

.pokemon-list {
	list-style: none;
	padding: 0;
	text-transform: capitalize;
	font-family: "Minecraft";
}

@font-face {
	font-family: "Minecraft";
	src: url("../fonts/Minecraft.ttf") format("truetype");
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* @media (min-width: 768px) {
	.sidebar-container {
		width: 30%;
		font-size: 1.5rem;
	}
} */

@media (min-width: 1024px) {
	.sidebar-container {
		width: 250px;
		/* font-size: 2rem; */
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
