#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.pixel-font {
	font-family: "Minecraft";
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 1.15rem;
	user-select: none;
}

.flexbox {
	display: flex;
	align-items: center;
	flex-direction: row;
	align-items: center;
}

.pokemon-list .flexbox {
	display: flex;
	align-items: center;
	gap: 10px;
}
.pokemon-list .flexbox img {
	width: 50px;
}

.summary-stats {
	margin: 2rem 0;
	background-color: #f0f8ff;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.summary-stats ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.summary-toggle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.summary-toggle .triangle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: transform 0.2s ease;
}
.summary-toggle.open .triangle {
	transform: rotate(90deg);
}
.summary-toggle h3 {
	margin: 0;
}

.graph-stats {
	margin: 2rem 0;
	background-color: #f0f8ff;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.graph-stats ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.graph-toggle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.graph-toggle.open {
	flex-direction: column;
}
.graph-toggle .triangle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: transform 0.2s ease;
}
.graph-toggle.open .triangle {
	transform: rotate(90deg);
}
.graph-toggle h3 {
	margin: 0;
}

.chart-container {
	padding: 1rem;
}

.chart-box {
	margin: 2rem 0;
}

.input-box {
	width: 75px;
	height: 25px;
	font-size: 20px;
	border: 1px solid #ccc;
	border-radius: 5em;
	cursor: pointer;
	text-align: center;
}

.length-range-filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.border {
	border: 2px solid red;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.slider {
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	outline: none;
	margin-top: 30px;
	/* opacity: 0.7; */
	/* transition: opacity 0.2s; */
}

.filter-container {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 100px;
	/* margin-bottom: 20px; */
}
.filter-container button:active {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	transform: translateY(3px);
	/* box-shadow: 0 0 0 rgba(0, 0, 0, 0.1); */
}

.cool-btn {
	width: 150px;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
	transition: all 0.05s ease-in-out;
	cursor: pointer;
	text-align: center;
}
.cool-btn:hover {
	outline: 1px auto black;
}
.cool-btn:active {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	transform: translateY(3px);
	/* box-shadow: 0 0 0 rgba(0, 0, 0, 0.1); */
}

.square {
	width: 50px;
	height: 50px;
}

#pokeball {
	width: 50px;
	height: 50px;
}

.header-container {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 80px;
	background: #f2f2f2;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sprite-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}

.pixel-img {
	width: 150px;
	image-rendering: pixelated;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1rem;
	height: 100%;
}

.pokemon-detail {
	background-color: #f0f8ff;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.pokemon-detail ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.pokemon-detail img {
	width: 200px;
	margin: auto;
}

.title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 2rem;
	cursor: pointer;
}

.search-container {
	display: flex;
	align-items: center;
}

.search-bar {
	padding: 8px 12px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5em;
}

.sidebar-container {
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	backdrop-filter: blur(1px);
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	width: 25%;
	background: rgb(180, 54, 54);
	color: #fff;
}

.creator-container,
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notification-box {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #4caf50;
	color: white;
	padding: 16px 24px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: top 0.5s ease-in-out;
	z-index: 1000;
	text-align: center;
	font-weight: bold;
}

.notification-box.show {
	top: 20px;
}

.pokemon-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	list-style: none;
	padding: 0;
	text-align: center;
}
.pokemon-card {
	background-color: #f0f8ff;
	padding: 1rem;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pokemon-list {
	list-style: none;
	padding: 0;
	text-transform: capitalize;
}

@font-face {
	font-family: "Minecraft";
	src: url("/fonts/Minecraft.ttf") format("truetype");
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* @media (min-width: 768px) {
	.sidebar-container {
		width: 30%;
		font-size: 1.5rem;
	}
} */

@media (min-width: 1024px) {
	.sidebar-container {
		width: 250px;
		/* font-size: 2rem; */
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
